:root {
  --bg: #fbf9f5;
  --assent-color: #80543b;
  --title-font-family: "Noto Serif", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  scrollbar-width: thin;
  scrollbar-color: var(--assent-color) var(--bg);
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--assent-color);
  border-radius: 8px;
}

body {
  background: var(--bg);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: clip;
}

header {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: rgba(251, 249, 245, 0.8);
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header img {
  width: auto;
  height: 100%;
}

nav,
nav ul {
  display: flex;
  list-style: none;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  font-family: var(--title-font-family);
  font-size: 1rem;
  color: #78716c;
  text-align: center;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.75rem 2rem;
  gap: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  background: var(--assent-color);
  border-radius: 99px;
}

section {
  width: 100%;
  min-height: fit-content;
  height: 100vh;
  padding: 6rem 2rem 4rem;
}

#hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.left-content,
.right-content {
  width: 100%;
  max-width: 35rem;
  height: fit-content;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-wrap: wrap;
}

.hero-detail {
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  color: var(--assent-color);
  text-transform: uppercase;
  width: 100%;
}

h1 {
  font-family: var(--title-font-family);
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #1b1c1a;
}

.hero-subtitle {
  font-size: 1.125rem;
  color: #50453b;
  line-height: 1.831rem;
}

.buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.hero-templates-button {
  width: 100%;
  max-width: 15.375rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--assent-color);
  color: #fff;
  text-wrap: nowrap;
  font-size: 1rem;
  letter-spacing: 0.8px;
  border-radius: 99px;
  padding: 1.2rem 2rem;
}

.hero-exemple-button {
  padding: 1.2rem 2rem;
  width: 100%;
  max-width: 15.375rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: var(--assent-color);
}

.right-content {
  display: flex;
  flex-direction: column;
  aspect-ratio: 31 / 36;
}

.circle {
  background: transparent;
  border-radius: 50%;
  width: 12rem;
  aspect-ratio: 1 / 1;
  border: solid 2px rgba(212, 196, 183, 0.3);
  margin-bottom: -10.2rem;
  margin-left: 26rem;
  z-index: 12;
}

.right-content img {
  width: 100%;
  height: auto;
  aspect-ratio: 31 / 36;
  object-fit: cover;
  border: solid 0.875rem #fff;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 0 0 #efeeea;
}

.phrase-container {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 0.875rem;
  padding: 1rem 2.5rem 1rem 1rem;
  width: fit-content;
  height: fit-content;
  z-index: 10;
  margin-top: -11rem;
  margin-left: 2rem;
}

.phrase {
  font-family: var(--title-font-family);
  color: #1b1c1a;
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100%;
  max-width: 220px;
  text-wrap: wrap;
}

/* Seção Processo */
#how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: #f5f3ef;
}

#how h2 {
  font-family: var(--title-font-family);
  font-size: 3rem;
  font-weight: 400;
  color: #1b1c1a;
  width: 100%;
  flex-wrap: wrap;
}

.horizontal-line {
  width: 12rem;
  height: 1px;
  background: linear-gradient(
    rgba(212, 196, 183, 0) 0%,
    #d4c4b7 50%,
    rgba(212, 196, 183, 0) 100%
  );
}

.how-subtitle {
  width: 100%;
  max-width: 576px;
  font-size: 1rem;
  color: #50453b;
  line-height: 1.5rem;
}

.card-container {
  width: 100%;
  height: fit-content;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(128, 84, 59, 0.15);
  text-align: start;
}

.card-number {
  width: 100%;
  font-family: var(--title-font-family);
  font-size: 4rem;
  line-height: 4.5rem;
  color: rgba(128, 84, 59, 0.1);
  text-decoration: underline;
}

.card-title {
  width: 100%;
  text-wrap: wrap;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #1b1c1a;
}

.card-subtitle {
  color: #50453b;
  font-size: 1rem;
  line-height: 1.625rem;
}

/* Seção Templates */
#templates {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: center;
}

#templates h2 {
  color: #1b1c1a;
  font-weight: 400;
  font-family: var(--title-font-family);
  font-size: 3rem;
}

.grid-container {
  display: flex;
  gap: 1.5rem;
  row-gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.grid-item {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.grid-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.grid-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #1b1c1a;
}

/* Seção Preços */
#price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#price h2 {
  color: #1b1c1a;
  font-family: var(--title-font-family);
  font-size: 2.25rem;
  font-weight: 400;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100%;
  text-wrap: wrap;
}

.card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: fit-content;
  min-width: fit-content;
  width: 100%;
  max-width: 384px;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
  border: solid 2px rgba(216, 160, 131, 0.3);
  gap: 2rem;
}

.card-price-title {
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
  text-align: center;
  color: #50453b;
  flex-wrap: wrap;
  width: 100%;
  text-transform: uppercase;
}

.card-price-price {
  text-align: center;
  font-family: var(--title-font-family);
  font-weight: 400;
  color: #1b1c1a;
  font-size: 2.25rem;
  text-wrap: nowrap;
  width: 100%;
}

.card-price ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: fit-content;
  width: 100%;
  list-style: none;
}

.card-price ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #50453b;
}

.card-price ul li b {
  color: #1b1c1a;
}

.fa-check {
  color: var(--assent-color);
  font-size: 0.875rem;
}

.card-price-btn {
  text-transform: uppercase;
  margin-top: -0.5rem;
  background: var(--assent-color);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 99px;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.0875rem;
  text-wrap: nowrap;
  font-weight: 400;
}

.price-subtitle {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.price-pay {
  background: var(--bg);
  color: #50453b;
  text-align: center;
  text-wrap: wrap;
  width: fit-content;
  max-width: calc(300px + 1rem);
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.0875rem;
  padding: 0 0.5rem;
  z-index: 1;
}

.price-line {
  margin-top: -0.6rem;
  width: 100%;
  height: 2px;
  background: rgba(128, 84, 59, 0.2);
}

/* Seção CTA */
#call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  max-height: fit-content;
  gap: 6rem;
}

.card-call {
  width: 100%;
  max-width: 1024px;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  color: #fff;
  border-radius: 3rem;
  background: linear-gradient(154deg, var(--assent-color) 0%, #d8a083 100%);
}

.card-call img {
  width: 2.625rem;
  height: auto;
}

.card-call-title {
  font-family: var(--title-font-family);
  font-size: 3.75rem;
  line-height: 3.75rem;
}

.detail-call {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.btn-call {
  width: 100%;
  max-width: 274px;
  height: fit-content;
  font-size: 1rem;
  color: var(--assent-color);
  letter-spacing: 0.05rem;
  padding: 1.25rem 3rem;
  background: #fff;
  border-radius: 99px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  width: 100vw;
  position: relative;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  gap: 3rem;
  border: solid 1px rgba(212, 196, 183, 0.2);
  background: #efeeea;
}

footer img {
  width: auto;
  height: 3.4rem;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 520px;
  gap: 2rem;
  list-style: none;
}

footer ul li a {
  color: #57534e;
  text-wrap: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.copyright {
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
  line-height: 1rem;
  color: #57534e;
  text-align: center;
}

/* EFEITOS */
.nav-links .active {
  color: var(--assent-color);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  transition: 0.5s ease;
}

.cta:hover,
.hero-templates-button:hover,
.card-price-btn:hover {
  background: #50453b;
  scale: 1.02;
  transition: 0.5s ease;
}

.btn-call:hover {
  background: #d4c4b7;
  scale: 1.02;
  transition: 0.5s ease;
}

.phrase-container:hover,
.card:hover {
  box-shadow: 0 0 20px -12px #000;
  scale: 1.02;
  transition: 0.5s ease;
}

nav ul li:hover,
footer ul li:hover {
  color: #50453b;
  scale: 1.02;
  transition: 0.2s ease;
}

.grid-item:hover {
  scale: 1.02;
  transition: 0.5s ease;
}

.grid-title:hover {
  color: var(--assent-color);
  scale: 1.02;
  transition: 0.2s ease;
  cursor: pointer;
}

.hero-exemple-button:hover {
  color: #50453b;
  scale: 1.02;
  transition: 0.2s ease;
}

/* Menu Mobile */
#menu-hamburguer,
#menu-content {
  display: none;
}

/* Responsividade */
/* Mobile */
@media (max-width: 767px) {
  section,
  #hero,
  #skills {
    padding: 8rem 1.5rem 3rem;
  }

  .nav-links,
  header .cta,
  .right-content {
    display: none;
  }

  #menu-hamburguer {
    display: flex;
    width: auto;
    height: 100%;
    background: transparent;
    border: none;
    color: var(--assent-color);
    font-size: 2.25rem;
  }

  #menu-content {
    background: var(--bg);
    z-index: 100;
    position: fixed;
    right: 0;
    top: 5rem;
    display: none;
    height: fit-content;
    width: 40%;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  #menu-content .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 0.5rem;
  }

  #menu-content .cta {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }

  h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  .buttons {
    justify-content: center;
    align-items: center;
  }

  h2,
  #templates h2,
  #how h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .price-pay {
    width: 12rem;
  }

  .card-call {
    padding: 1.5rem;
  }

  footer {
    padding: 1.5rem;
    gap: 0.5rem;
  }

  footer img {
    display: none;
  }

  footer ul {
    width: 50%;
    gap: 0.5rem;
  }

  footer ul li {
    font-size: 0.625rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  header .cta {
    font-size: 0.75rem;
    padding: 0.875rem 1rem;
  }

  .nav-links li a {
    text-align: center;
  }

  header,
  .nav-links {
    gap: 1rem;
  }
}

/* Ajuste específico para menu hambúrguer não sumir em telas menores */
@media (min-width: 320px) and (max-width: 374px) {
  #menu-content {
    margin-top: 1rem;
  }
}

/* Ajuste específico para a nav bar não quebrar na parte dos links */
@media (max-width: 784px) {
  .nav-links,
  header .cta {
    display: none;
  }

  #menu-hamburguer {
    display: flex;
    width: auto;
    height: 100%;
    background: transparent;
    border: none;
    color: var(--assent-color);
    font-size: 2.25rem;
  }

  #menu-content {
    background: var(--bg);
    z-index: 100;
    position: fixed;
    right: 0;
    top: 5rem;
    display: none;
    height: fit-content;
    width: 40%;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  #menu-content .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 0.5rem;
  }

  #menu-content .cta {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
}

/* Ajustes de Fontes */
@media (min-width: 320px) {
  :root {
    font-size: 11px;
  }
}
@media (min-width: 375px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 425px) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 15px;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 16px;
  }
  body {
    max-width: 1440px;
  }
}
