:root {
  --bg: #fbf9f5;
  --assent-color: #80543b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  scrollbar-width: thin;
  scrollbar-color: var(--assent-color) var(--bg);
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--assent-color);
  border-radius: 8px;
}

body {
  background: var(--bg);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: clip;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: rgba(251, 249, 245, 0.8);
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header img {
  width: auto;
  height: 100%;
}

nav,
ul {
  display: flex;
  list-style: none;
  width: fit-content;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  font-family: "Noto Serif", sans-serif;
  font-size: 1rem;
  color: #78716c;
}

header .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.75rem 2rem;
  gap: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  background: var(--assent-color);
  border-radius: 99px;
}

section {
  width: 100%;
  min-height: fit-content;
  height: 100%;
  padding: 6rem 2rem 4rem;
}

#hero {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 6rem;
}

.left-content,
.right-content {
  width: calc(50% - 3rem);
  height: fit-content;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-wrap: wrap;
}

.hero-detail {
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  color: var(--assent-color);
  text-transform: uppercase;
  width: 100%;
}

h1 {
  font-family: "Noto Serif", sans-serif;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #1b1c1a;
}

.hero-subtitle {
  font-size: 1.125rem;
  color: #50453b;
  line-height: 1.831rem;
}

.buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.hero-templates-button {
  width: 100%;
  max-width: 15.375rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--assent-color);
  color: #fff;
  text-wrap: nowrap;
  font-size: 1rem;
  letter-spacing: 0.8px;
  border-radius: 99px;
  padding: 1.2rem 2rem;
}

.hero-exemple-button {
  padding: 1.2rem 2rem;
  width: 100%;
  max-width: 15.375rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: var(--assent-color);
}

.right-content {
  display: flex;
  flex-direction: column;
  aspect-ratio: 31 / 36;
}

.circle {
  background: transparent;
  border-radius: 50%;
  width: 12rem;
  aspect-ratio: 1 / 1;
  border: solid 2px rgba(212, 196, 183, 0.3);
  margin-bottom: -10.2rem;
  margin-left: 24rem;
  z-index: 12;
}

.right-content img {
  width: 100%;
  height: auto;
  aspect-ratio: 31 / 36;
  object-fit: cover;
  border: solid 0.875rem #fff;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 0 0 #efeeea;
}

.phrase-container {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 0.875rem;
  padding: 1rem 2.5rem 1rem 1rem;
  width: fit-content;
  height: fit-content;
  z-index: 10;
  margin-top: -11rem;
  margin-left: 2rem;
}

.phrase {
  font-family: "Noto Serif", sans-serif;
  color: #1b1c1a;
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100%;
  max-width: 220px;
  text-wrap: wrap;
}

/* Seção Processo */
#how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: #f5f3ef;
}

#how h2 {
  font-family: "Noto Serif", sans-serif;
  font-size: 3rem;
  color: #1b1c1a;
  width: 100%;
  flex-wrap: wrap;
}

.horizontal-line {
  width: 12rem;
  height: 1px;
  background: linear-gradient(
    rgba(212, 196, 183, 0) 0%,
    #d4c4b7 50%,
    rgba(212, 196, 183, 0) 100%
  );
}

.how-subtitle {
  width: 100%;
  max-width: 576px;
  font-size: 1rem;
  color: #50453b;
  line-height: 1.5rem;
}

.card-container {
  width: 100%;
  height: fit-content;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(128, 84, 59, 0.15);
  text-align: start;
}

.card-number {
  width: 100%;
  font-family: "Noto Serif", sans-serif;
  font-size: 4rem;
  line-height: 4.5rem;
  color: rgba(128, 84, 59, 0.1);
  text-decoration: underline;
}

.card-title {
  width: 100%;
  text-wrap: wrap;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #1b1c1a;
}

.card-subtitle {
  color: #50453b;
  font-size: 1rem;
  line-height: 1.625rem;
}
