<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eternize</title>
    <link rel="stylesheet" href="anonovo.css" />

    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../icon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../icon/favicon-16x16.png"
    />
    <link rel="manifest" href="../../icon/site.webmanifest" />

    <!-- FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Ícones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <section class="hero">
        <div class="hero-left-bg">
          <div class="overlay">A contagem regressiva começou</div>
          <h1>Abrace o Esplendor de um <span>novo</span> ano!!!</h1>
          <p class="hero-subtitle">
            Celebre a magia dos novos começos com nossa família e que assim como
            nos anos passados, possamos viver e conviver com muita alegria e
            unidade.
          </p>
          <div class="buttons">
            <a href="#goals"><i class="fa-regular fa-circle-down"></i></a>
            <p class="inst">Clique aqui e viva conosco essa emoção</p>
          </div>
        </div>
        <div class="hero-right-bg">
          <p class="t-menos">T-menos</p>
          <div class="hero-right-card">
            <div class="countdown">
              <div class="days">
                <p class="number">00</p>
                <p class="text">dias</p>
              </div>
              <div class="two-point">
                <p class="point">:</p>
              </div>
              <div class="hours">
                <p class="number">08</p>
                <p class="text">horas</p>
              </div>
              <div class="two-point">
                <p class="point">:</p>
              </div>
              <div class="minutes">
                <p class="number">42</p>
                <p class="text">min</p>
              </div>
            </div>
            <p class="details">Até a virada de ano!</p>
          </div>
        </div>
      </section>

      <section id="goals">
        <div class="goals-title">
          <p class="subtitle">Nossas metas</p>
          <h2>
            Projetos e sonhos que realizaremos em conjunto nesse novo ano...
          </h2>
        </div>
        <div class="goals-container">
          <div class="card1">
            <!-- <img
              src="https://images.unsplash.com/photo-1701308356218-7d2de87e9de7?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            /> -->
            <p>Escalar uma montanha</p>
          </div>
          <div class="card2">
            <!-- <img
              src="https://images.unsplash.com/photo-1542744173-05336fcc7ad4?q=80&w=802&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            /> -->
            <p>Abrir nossa empresa</p>
          </div>
          <div class="card3">
            <!-- <img
              src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            /> -->
            <p>Começar uma graduação</p>
          </div>
          <div class="card4">
            <!-- <img
              src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?q=80&w=876&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            /> -->
            <p>Melhorar nossa carteira de investimentos</p>
          </div>
        </div>
      </section>

      <section class="desires">
        <h2>Nós desejamos a vocês</h2>
        <div class="desires-container">
          <div class="desires-card">
            <img
              class="desires-base"
              src="https://images.unsplash.com/photo-1629218403829-0c29ae7eb975?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <h5>Tempo livre para curtir em família</h5>
            <p class="desires-subtitle">
              Em meio a essa correria em que vivemos, desejamos que vocês possam
              ter tempo de desfrutar da companhia uns dos outros e viver
              momentos de paz e contemplação.
            </p>
          </div>
          <div class="desires-card">
            <img
              class="desires-base"
              src="https://images.unsplash.com/photo-1516684402831-c151c11c6023?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <h5>Amor, paixão, carinho...</h5>
            <p class="desires-subtitle">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga
              veritatis reiciendis quibusdam? Repellat illo veniam eveniet,
              distinctio qui placeat quia.
            </p>
          </div>
          <div class="desires-card">
            <img
              class="desires-base"
              src="https://images.unsplash.com/photo-1571949058467-bb89d16c4788?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <h5>Muitas aventuras e viagens interessantes</h5>
            <p class="desires-subtitle">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga
              veritatis reiciendis quibusdam? Repellat illo veniam eveniet,
              distinctio.
            </p>
          </div>
          <div class="desires-card">
            <img
              class="desires-base"
              src="https://images.unsplash.com/photo-1767855698677-5f9ea11fc343?q=80&w=886&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <h5>Calor humano, afetuosidade e fé</h5>
            <p class="desires-subtitle">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga
              veritatis reiciendis quibusdam? Repellat illo veniam eveniet,
              distinctio qui placeat quia.
            </p>
          </div>
        </div>
      </section>

      <section class="message">
        <div class="star"><i class="fa-solid fa-star"></i></div>
        <p class="message-title">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
          vero id rerum, excepturi fugiat similique amet eaque quia nam ea ullam
          numquam.
        </p>
        <p class="message-subtitle">
          Vamos celebrar o novo ano e as novas chances que virão.
        </p>
        <p class="sign">São os desejos da família Silva para a sua família!</p>
      </section>
    </main>
    <footer>
      <img src="/assets/logo-name.svg" alt="Logo Eternize" />
      <h6>Sua família</h6>
      <p>©Ano Novo 2026</p>
    </footer>
  </body>
</html>
